
@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'YClover-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    width : 1280px;
    height:  750px;
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    margin-top: 0px;
    overflow-x: scroll;
}

header{
    border-width: 0px 0px 1px 0px;
    border-style: solid; /* 테두리 스타일 지정 */
    border-color: #D9D9D9;
    margin-bottom: 20px;
}

nav {
    float: right;
    vertical-align: middle;
    color: black;
    padding: 0;
    margin-top: 35px;
    margin-right: 50px;
}

h1{
       font-family: 'YClover-Bold';
    margin-left: 30px;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}



li{
    list-style: none;
    float: left;
    padding-left: 80px;
}

a{
    text-decoration: none;
    color : black;

}

header li a{
    font-family: 'Pretendard-Bold';
    font-size: 23px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}


.font {
    display: inline;
    margin: 0;
}

img{
    width: 150px;
}

.left_container{
    display: flex;
}

#title {
    margin-left: 10px;
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    letter-spacing: -1px;
}

#subtitle {
    margin-left: 5px;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #666666;
}

.Main {
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 가로로 요소들을 나란히 배치 */
    align-items: flex-start; /* 세로 정렬을 위해 맨 위에 정렬 */
    justify-content: center; /* 가로 정렬을 가운데로 설정 */
}

#left {
    margin-top: 10px; /* 약간의 위쪽 여백 추가 */
    margin-right: 10px;
}

#map {
    width: 604px;
    height: 500px;
    margin-left: 10px;
    margin-top: 10px; /* 약간의 위쪽 여백 추가 */
}

.outer-container_W {
    border-radius: 20px;
    height: 170px;
    width: 604px;
    margin-bottom: 30px;
    background-color:rgb(236,238,239,0.5) ; /* 배경색 설정 */
    padding: 20px;
    margin-top: 10px;
    white-space: nowrap;
    scroll-behavior: smooth;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */

}

.outer-container {
    border-radius: 20px;
    height: 170px;
    width: 604px;
    background-color:rgb(148, 187, 93,0.3) ; /* 배경색 설정 */
    padding: 20px;
    margin-top: 10px;
    overflow-x: scroll; /* 가로 스크롤만 표시 */
    overflow-y: hidden; /* 세로 스크롤 숨김 */
    white-space: nowrap;
    scroll-behavior: smooth;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */

}

.outer-container::-webkit-scrollbar {
    width: 1px;
    height: 10px;
    margin: 10px;
  }

.outer-container::-webkit-scrollbar-thumb {
    background-color: rgb(47, 53, 66, 0.3);
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
    
  }
.outer-container::-webkit-scrollbar-track {
    background-color: rgb(148, 187, 93,0.3);
    margin: 10px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px white;
  }

.data-display {
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

/* 각 데이터 항목을 묶은 태그의 스타일 */
.data-item {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    margin-right: 20px; /* 각 데이터 항목 사이의 간격 설정 */
    background-color: white; /* 배경색 설정 */
    display: inline-block; /* 인라인 블록 요소로 설정 */
    letter-spacing: -1px;
    line-height: 25px;
    margin: 15px;
}

#marketName{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
}

#itemName{
    font-family: 'Pretendard-Bold';
    font-size:15px;
}

#itemPrice{
    font-family: 'Pretendard-ExtraBold';
    color: #FF2B2B;
    font-size: 20px;
}

#loadingMessage{
    font-family: 'Pretendard-ExtraLight';
    font-size: 15px;
}

#loadingMessage1{
    font-family: 'Pretendard-ExtraLight';
    font-size: 15px;
}


.load-more-btn {
    margin-top: 20px;
    text-align: center;
}



.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #46AA75; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 30px auto; /* Center the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-message {
    text-align: center;
    margin-bottom: 20px;
}

.second{
    display: block;
}

/* styles.css */

#weather-info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#w_contents{
    margin-left: 30px;
    text-align: center;
}

#W_info{
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    display: inline;
    box-shadow: inset 0 -20px 0 rgba(255, 241, 135, 0.3); 
}

#d_info{
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 15px;
}

#dust_info{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
}

.area {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 12px;
    top: -5px;
    left: 15px;
    padding: 2px;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
}


